<script lang="ts">
  import firebase from "firebase/app";
  import { getCommentsCollection, queryAsStore } from "./comments";
  import { getUserStore, init } from "../login/firebase";
  import { sub } from "../../lib/util";
  export let firebaseConfig;
  // convert the incoming JSON string into JS object
  // must init firebase app before using ANY firebase service
  init(JSON.parse(firebaseConfig));
  const collection = getCommentsCollection();
  const query = collection.orderBy("createdAt");
  const comments = queryAsStore(query);
  const user = getUserStore();
  const DEFAULT_COMMENT = { body: "", createdAt: null, user: null };
  let comment = { ...DEFAULT_COMMENT };
  function submit() {
    comment.user = sub($user, "uid", "displayName", "photoURL");
    comment.createdAt = firebase.firestore.FieldValue.serverTimestamp();
    // console.log("comment", comment);
    collection.add(comment);
    comment = { ...DEFAULT_COMMENT };
  }
</script>

<style>
  textarea {
    display: block;
    width: 100%;
  }
  .item blockquote {
    position: relative;
    white-space: pre-wrap;
    min-height: 50px;
    /* padding: 0 10px; */
  }
  blockquote img {
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
</style>

<div class="list">
  {#each $comments as c}
    <div class="item">
      <blockquote>
        {c.body}
        <img
          src={c.user.photoURL}
          alt={`picture of ${c.user.displayName}`}
          title={c.user.displayName} />
      </blockquote>
    </div>
  {/each}
</div>
{#if $user}
  <form on:submit|preventDefault={submit}>
    <textarea
      rows="5"
      bind:value={comment.body}
      placeholder="type your comment here" />
    <button type="submit">Submit</button>
  </form>
{/if}
