<script lang="ts">
	export let queryid: string;
	export let contentType: string;
	export let limit: string;
	const count = parseInt(limit);
	import { load } from "./client.ts";
	let nodes = [];
</script>

<div>
{#await load(queryid, contentType, count)}
Loading ...
{:then bytracks}
	{#each Object.entries(bytracks) as [track,nodes]}
		<h2 class="track">{track}</h2>
		{#each nodes as {title, body, entityUrl: {path}, fieldDatetime: {value: start, endValue: end}}}
		<div class="session">
			<h3><a href={path}>{title}</a></h3>
			<div>{start} - {end}</div>
			<pre>{body.summaryProcessed || body.processed}</pre>
		</div>
		{/each}
	{/each}
{/await}
</div>

<style>
	.session {
		border: dashed gray 1px;
    margin: 1em 0;
    padding: 0 1em;
	}
	h2.track {
		color: white;
		background-color: black;
		padding: 0.5em;
	}
</style>
