<script lang="ts">
  import { init, signIn, signOut, getUserStore } from "./firebase";
  export let firebaseConfig;
  // convert the incoming JSON string into JS object
  // must init firebase app before using ANY firebase service
  init(JSON.parse(firebaseConfig));
  // grab the reactive/observable user store
  const user = getUserStore();
</script>

<style>
  img,
  div.img-placeholder {
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  .logged-in,
  .logged-out {
    display: flex;
    flex-direction: row-reverse;
  }
</style>

{#if $user}
  <div class="logged-in">
    <button on:click={signOut}>Sign Out</button>
    <img
      src={$user.photoURL}
      alt={`User photo: ${$user.displayName}`}
      title={$user.displayName} />
  </div>
{:else}
  <div class="logged-out">
    <button on:click={signIn}>Sign In</button>
    <div class="img-placeholder" />
  </div>
{/if}
